.app-container{
  display: flex;
  flex-flow: column;
  height: 100%;
}
.nav-container{
  flex: 0 1 auto;
}
.content-container{
  flex: 1 1 auto;
}
.navbar {
  padding: 10px 20px 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-item {
  cursor: pointer;
  font-size: 1rem;
}

.navbar-brand a {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: inherit;
}

.navbar-brand :hover {
  color: rgba(255, 255, 255, 0.87);
}

@media (prefers-color-scheme: light) {
  .navbar-brand a {
    color: #213547;
  }
  .navbar-brand :hover {
    color: #213547;
  }
}